<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheroGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="app-container">
        <div class="sidebar">
            <div class="sidebar-header">
                <h2>Chats</h2>
            </div>
            <button class="sidebar-button" id="new-chat-btn">New Chat</button>
            <nav id="chat-list-nav">
                <ul id="chat-list">
                    </ul>
            </nav>
        </div>
        <div class="chat-area">
            <header class="app-header">
                <button class="sidebar-toggle" id="sidebar-toggle-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <h3>TheroGPT</h3>
            </header>
            <div id="chat-container">
                </div>
            <div id="form-container">
                <form id="message-form">
                    <textarea id="message-input" placeholder="Message TheroGPT..." required></textarea>
                    <button type="submit" id="send-button">Send</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>